$content-width: 1000px;
$main: #333333;/*#543729;*/
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #00acee;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #2baf2b;
$light: #E7EDF4;
$header:  #fde3ee;/*carousel pink;*/ /*#ffcc2f;*/ /*yellow*/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
